[submodule "Protobuf"]
	path = Protobuf
	url = https://github.com/BinghamtonRover/Protobuf
[submodule "Drive/src/utils"]
	path = Drive/src/utils
	url = https://github.com/BinghamtonRover/Firmware-Utilities
